{% extends "base.html" %}

{% block title %}首页{% endblock %}

{% block body %}
     <div class="jumbotron">
        <h1>python web框架企业实战详解 第12-13周</h1>
        <p>【声明】本视频和幻灯片为炼数成金网络课程的教学资料，所有资料只能在课程内使用，不得在课程以外范围散播，违者将可能被追究法律和经济责任。
        课程详情访问炼数成金培训网站
        http://edu.dataguru.cn
        </p>
     </div>

    <form class="form-inline" action="/resume/search" method="post">
      <div class="form-group">
        <label for="resumeSearcher">简历搜索：</label>
        <input type="text" class="form-control" name="keywords" id="resumeSearcher" placeholder="如：高级运维">
      </div>
      <button type="submit" class="btn btn-default">搜索</button>
    </form>

    <form class="form-inline" action="" method="post">
      <div class="form-group">
        <label for="jobSearcher">职位搜索：</label>
        <input type="text" class="form-control" name="keywords"  id="jobSearcher" placeholder="如：产品经理">
      </div>
      <button type="submit" class="btn btn-default">搜索</button>
    </form>

	<div id="wrap">
		<!-- 轮播主题  -->
		<div id="content">
            <article id="user"><h1>Users</h1>
            {% for i in users %}
                <p> {{ i.id }} => {{ i.name }} => {{ i.email }} </p>
            {% endfor %}
            </article>
            <article id="resume"><h1>Resumes</h1>
            {% for i in resumes %}
                <p>{{ i.id }} => {{ i.name }} => {{ i.description }} => {{ i.hope_work }}</p>
            {% endfor %}
            </article>
            <article id="company"><h1>Companys</h1>
            {% for i in companys %}
                <p>{{ i.id }} => {{ i.name }} => {{ i.city }}</p>
            {% endfor %}
            </article>
            <article id="job"><h1>Jobs</h1>
            {% for i in jobs %}
                <p>{{ i.id }} => {{ i.name }} => {{ i.city }}</p>
            {% endfor %}
            </article>

		</div>
	</div>  <!-- wrap end -->
{% endblock %}