{% extends "base.html" %}

{% block title %}简历页{% endblock %}

{% block body %}
	<div id="wrap">
        <h2>基本信息：</h2>
        <form method="post" action="/resume/post" class="form">
            <input type="hidden" name="id" value="{{ resume_info.id }}">
            <input type="hidden" name="uid" value="{{ resume_info.uid }}">
            <div class="form-group"><label >姓名：</label>
              <input type="text" name="name" placeholder="Name" value="{{ resume_info.name }}" class="form-control">
            </div>
            <div class="form-group"><label >自我描述：</label>
              <input type="text" name="description" value="{{ resume_info.description }}" placeholder="description" class="form-control">
            </div>
            <div class="form-group"><label >个人亮点：</label>
              <input type="text" name="tag" value="{{ resume_info.tag }}" placeholder="tag" class="form-control">
            </div>
            <div class="form-group"><label >学历：</label>
              <input type="text" name="education" value="{{ resume_info.education }}" placeholder="education" class="form-control">
            </div>
            <div class="form-group"><label >工作城市：</label>
              <input type="text" name="city" value="{{ resume_info.city }}" placeholder="city" class="form-control">
            </div>
            <div class="form-group"><label >手机：</label>
              <input type="text" name="mobilephone" value="{{ resume_info.mobilephone }}" placeholder="mobilephone" class="form-control">
            </div>
            <div class="form-group"><label >email：</label>
              <input type="text" name="email" value="{{ resume_info.email }}" placeholder="email" class="form-control">
            </div>
            <div class="form-group"><label >自我评价：</label>
              <input type="text" name="self_evaluate" value="{{ resume_info.self_evaluate }}" placeholder="self_evaluate" class="form-control">
            </div>
            <div class="form-group"><label >期望工作：</label>
              <input type="text" name="hope_work" value="{{ resume_info.hope_work }}" placeholder="hope_work" class="form-control">
            </div>
            <div class="form-group"><label >工作类型：</label>
              <input type="text" name="hope_type" value="{{ resume_info.hope_type }}" placeholder="hope_type" class="form-control">
            </div>
            <div class="form-group"><label >期望城市：</label>
              <input type="text" name="hope_city" value="{{ resume_info.hope_city }}" placeholder="hope_city" class="form-control">
            </div>
            <div class="form-group"><label >期望薪资：</label>
              <input type="text" name="hope_salary" value="{{ resume_info.hope_salary }}" placeholder="hope_salary" class="form-control">
            </div>
            <button type="submit" class="btn btn-success" >保存简历</button>
            <a class="btn btn-success" href="/resume/preview" >预览简历</a>
        </form>
        <h2>工作经历：</h2>
        {% for we in work_experience %}
            <form method="post" action="/resume/work" class="form">
                <input type="hidden" name="id" value="{{ we.id }}">
                <input type="hidden" name="resume_id" value="{{ we.resume_id }}">
                <div class="form-group"><label >公司：</label>
                  <input type="text" name="company_name" value="{{ we.company_name }}" placeholder="company_name" class="form-control">
                </div>
                <div class="form-group"><label >开始时间：</label>
                  <input type="text" name="start_date" value="{{ we.start_date | date:"Y-m-d" }}" placeholder="start_date" class="form-control">
                </div>
                <div class="form-group"><label >结束时间：</label>
                  <input type="text" name="end_date" value="{{ we.end_date | date:"Y-m-d" }}" placeholder="end_date" class="form-control">
                </div>
                <div class="form-group"><label >工作：</label>
                  <input type="text" name="job" value="{{ we.job }}" placeholder="job" class="form-control">
                </div>
                <div class="form-group"><label >描述：</label>
                  <input type="text" name="description" value="{{ we.description }}" placeholder="desc" class="form-control">
                </div>
                <button type="submit" class="btn btn-success" >保存</button>
            </form>
        {% endfor %}
        <br/>
        <a class="btn btn-success" href="javascript:void(0);" onclick="$('#work_experience').show();">添加工作经历</a>
        <form method="post" id="work_experience" action="/resume/work" class="form" style="display:none;">
            <input type="hidden" name="id" value="">
            <input type="hidden" name="resume_id" value="{{ resume_info.id }}">
            <div class="form-group"><label >公司：</label>
              <input type="text" name="company_name" placeholder="company_name" class="form-control">
            </div>
            <div class="form-group"><label >开始时间：</label>
              <input type="text" name="start_date" placeholder="start_date" class="form-control">
            </div>
            <div class="form-group"><label >结束时间：</label>
              <input type="text" name="end_date" placeholder="end_date" class="form-control">
            </div>
            <div class="form-group"><label >工作：</label>
              <input type="text" name="job" placeholder="job" class="form-control">
            </div>
            <div class="form-group"><label >描述：</label>
              <input type="text" name="description" placeholder="desc" class="form-control">
            </div>
            <button type="submit" class="btn btn-success" >保存</button>
        </form>
        <h2>教育经历：</h2>
        {% for se in study_experience %}
            <form method="post" action="/resume/study" class="form">
                <input type="hidden" name="id" value="{{ se.id }}">
                <input type="hidden" name="resume_id" value="{{ se.resume_id }}">
                <div class="form-group"><label >学校：</label>
                  <input type="text" name="school_name" value="{{ se.school_name }}" placeholder="school_name" class="form-control">
                </div>
                <div class="form-group"><label >开始时间：</label>
                  <input type="text" name="start_date" value="{{ se.start_date | date:"Y-m-d" }}" placeholder="start_date" class="form-control">
                </div>
                <div class="form-group"><label >结束时间：</label>
                  <input type="text" name="end_date" value="{{ se.end_date | date:"Y-m-d" }}" placeholder="end_date" class="form-control">
                </div>
                <div class="form-group"><label >学历：</label>
                  <input type="text" name="educational" value="{{ se.educational }}" placeholder="educational" class="form-control">
                </div>
                <div class="form-group"><label >专业：</label>
                  <input type="text" name="subject" value="{{ se.subject }}" placeholder="subject" class="form-control">
                </div>
                <button type="submit" class="btn btn-success" >保存</button>
            </form>
        {% endfor %}
        <br>
        <a class="btn btn-success" href="javascript:void(0);" onclick="$('#edu_experience').show();">添加教育经历</a>
        <form method="post" id="edu_experience"  action="/resume/study" class="form" style="display:none;">
            <input type="hidden" name="id" value="">
            <input type="hidden" name="resume_id" value="{{ resume_info.id }}">
            <div class="form-group"><label >学校：</label>
              <input type="text" name="school_name" placeholder="school_name" class="form-control">
            </div>
            <div class="form-group"><label >开始时间：</label>
              <input type="text" name="start_date" placeholder="start_date" class="form-control">
            </div>
            <div class="form-group"><label >结束时间：</label>
              <input type="text" name="end_date" placeholder="end_date" class="form-control">
            </div>
            <div class="form-group"><label >学历：</label>
              <input type="text" name="educational" placeholder="educational" class="form-control">
            </div>
            <div class="form-group"><label >专业：</label>
              <input type="text" name="subject" placeholder="subject" class="form-control">
            </div>
            <button type="submit" class="btn btn-success" >保存</button>
        </form>
	<h2>上传照片：</h2>
	{% if resume_info.picture %}
	    <div>已上传的照片：<img src="/static/upload/{{ resume_info.picture }}"> </div>
	{% else %}
	    <h4>你可以上传个人靓照</h4>
	{% endif %}
	<form method="post" action="/resume/image" enctype="multipart/form-data" >
	    {{uf.as_p}}
	    <button type="submit" class="btn btn-success" >上传</button>
	</form>
        <h2>简历附件：</h2>
        {% if resume_info.attach_file %}
            <div>已上传的附件：<a href="/static/upload/{{ resume_info.attach_file }}">{{ resume_info.attach_file }}</a></div>
        {% else %}
            <h4>你可以上传简历附件</h4>
        {% endif %}
        <form method="post" action="/resume/upload" enctype="multipart/form-data" >
            {{uf.as_p}}
            <button type="submit" class="btn btn-success" >上传</button>
        </form>

	</div>  <!-- wrap end -->
{% endblock %}